.container{
    display: flex;
    justify-content: space-between;
    padding-left:15px;
    padding-right:15px;
    padding-top:20px;
    padding-bottom:20px;
    background: linear-gradient(270deg, #56A7F2 27.97%, rgba(255, 255, 255, 0) 83.44%), #2E52F8;
    color: #fff;
}

.box{
    display: flex;
    justify-content: space-between;
    gap: 10px;   
}
.box > div{
    padding: 10px;
}
.mandu{
    background: white;
    border-radius: 5px;
    border:2px solid #ccc;
}
.img_circle{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background: url("../../assets/fondo.png");
    width: 40px;
    height: 40px;
    font-size: 20px;  
}